<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Ultimo log-in:</strong>
  <%= @user.last_log %>
</p>

<p>
  <strong>Tipo de Usuario:</strong>
  <%= @user.user_type %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @user.active %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @user.comment %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', users_path %>
