<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @category.image  if @category.image.attached? %>
</p>

<p>
  <strong>Active:</strong>
  <%= @category.active %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @category.comment %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
