<!DOCTYPE html>
<html>
  <head>
    <title>App1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <%= link_to 'Home', root_url %>
      <%= link_to 'About', store_about_url %>
      <%= link_to 'Contacto', store_contact_url %>
    </div>
    <div>
      <% if current_user.nil? %>
        <p>No logueado</p>
        <% unless @is_log_in %>
          <%= link_to 'Log in', new_session_url  %>
          <%= link_to 'Sign up', new_user_url  %>
          <% @is_log_in = false %>
        <% end %>
      <% else %>
        <p>Usuario: <%= current_user %></p>
        <%= link_to 'Log out', session_path(session[:user_id]), 
                             method: :delete, 
                             data: { confirm: 'Are you sure?' } %>

      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
