<!DOCTYPE html>
<html>
  <head>
    <title>App1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <%= link_to 'Home', root_url %>
      <%= link_to 'About', store_about_url %>
      <%= link_to 'Contacto', store_contact_url %>
    </div>
    <div>
      <% if current_user.nil? %>
        <p>No logueado</p>
        <%= link_to 'Log in', new_session_url  %>
        <%= link_to 'Sign up', new_user_url  %>
      <% else %>
        <p>Usuario: <%= current_user %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
